@page "/bookCategories/{id:int}/update"
@using Services.BookCategories.Models
@using Services.BookCategories
@using Services.Metadata
@inject IBookCategoryService service
@inject NavigationManager navigationManager

<h3>教材</h3>

<p>修改教材信息。</p>

<hr class="hr" />

<EditForm Model="@Model" OnValidSubmit="@Submit" FormName="UpdateBookCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="gy-5">
        <div class="col-md-5">
            <label class="form-label">教材版本：</label>
            <InputText @bind-Value="Model!.CategoryName" class="form-control rounded" />
        </div>
    </div>
    <div class="col-md-5">
        <label class="form-label"></label>
        <button type="submit" class="form-control btn btn-outline-primary" data-mdb-ripple-init>保存</button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int id { get; set; }

    [SupplyParameterFromForm]
    public AddBookCategoryModel Model { get; set; }

    public Update()
    {
        Model = MetadataService.GetDefaultBookCategory();
    }

    protected override async void OnInitialized()
    {
        var category = await service.GetByIdAsync(id);
        Model = new AddBookCategoryModel()
            {
                CategoryName = category.CategoryName,
            };

    }

    private async Task Submit()
    {
        await service.UpdateAsync(id, Model);
        navigationManager.NavigateTo("/bookCategories");
    }
}