@page "/help"

@using Services.Metadata
@using Shared
@using System.IO
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@inject AppState appState

<h3>帮助</h3>

<p>帮助信息</p>
<hr class="hr" />
<table class="row gy-3 pe-1">
    <tr>
        <th></th>
        <th></th>
    </tr>
    <tr class="form-group">
        <td>
            <label class="col-form-label">转换拼音:</label>
        </td>
        <td>
            <div class="col-form-label">
                <a href="https://configstoragefelix.z13.web.core.windows.net/" class="link-primary">打开</a>
            </div>
        </td>
    </tr>
</table>

<hr class="hr" />
<label class="text-decoration-underline">教材字库下载:</label>
<div class="col-form-label">
    <a href="https://configstoragefelix.z13.web.core.windows.net/books/renjiaoban/2018/grade3/first/englishAndChinese.csv" class="link-primary">人教版2018版三年级上册-语文和英语</a>
</div>
<div class="col-form-label">
    <a href="https://configstoragefelix.z13.web.core.windows.net/books/renjiaoban/2018/grade3/second/chinese.csv" class="link-primary">人教版2018版三年级下册-语文</a>
</div>

<hr class="hr" />
<label class="text-decoration-underline">新增教材字库:</label>
<div class="text-secondary">
    请在准备好<b class="text-primary">完整的，清晰的</b>教材<b class="text-primary">生字表</b>图片后，添加微信：<b class="text-primary">keepgetbetter</b>，我稍后会帮您自动转换，并提供符合固定格式的文字版下载，以导入本软件。
    <br />
    当然你也可以利用 <a href="https://configstoragefelix.z13.web.core.windows.net/" class="link-primary">转换拼音</a>链接(打开PINYIN)，和Excel自行转换并导入本软件。
</div>

<hr class="hr" />
<label class="text-decoration-underline">文字转语音:</label>
<div class="text-secondary">
    在您选择好要听写的词语/单词后，可以点击<b class="text-primary">复制词语</b>按钮复制到剪贴板，然后使用以下网址自动转换为标准发音，再下载和发送给孩子听写：
    <a href="https://www.text-to-speech.cn/" class="link-primary">文字转语音</a>
</div>
<hr class="hr" />
<div class="text-secondary">
    当前版本：1.2.6.0
    <a href="https://apps.microsoft.com/detail/9NR9KR5N3BX2?hl=zh-cn&gl=CN" class="text-sm-center link-primary">Windows>></a>
</div>