@page "/help"

@using Services.Metadata
@using Shared
@using System.IO
@inject IJSRuntime JS
@inject IJSRuntime JSRuntime
@inject AppState appState

<h3>帮助</h3>

<p>帮助信息</p>

<hr class="hr" />
<label class="text-decoration-underline">下载字库:</label>
<div class="col-form-label">
    <a href="https://www.metadlw.com/" class="link-primary">字库</a>
</div>

<hr class="hr" />
<label class="text-decoration-underline">字库上传:</label>
<div class="text-secondary">
    请您在准备好教材的<b class="text-primary">出版商，出版年月</b>，并告知<b class="text-primary">科目</b>后，添加微信：<b class="text-primary">keepgetbetter</b>，我稍后会帮您自动转换成本软件支持的字库。
    <br />
    当然您也可以利用 <a href="https://www.metadlw.com/" class="link-primary">转换拼音</a>链接(打开PINYIN)，和Excel自行转换并导入本软件。
</div>

<hr class="hr" />
<label class="text-decoration-underline">文字转拼音:</label>
<div class="col-form-label">
    <a href="https://www.metadlw.com/" class="link-primary">文字转拼音</a>(打开PINYIN)
</div>

<hr class="hr" />
<label class="text-decoration-underline">文字转语音:</label>
<div class="text-secondary">
    在您选择好要听写的词语/单词后，可以点击<b class="text-primary">复制词语</b>按钮复制到剪贴板，然后使用以下网址自动转换为标准发音，再下载和发送给孩子听写：
    <a href="https://www.text-to-speech.cn/" class="link-primary">文字转语音</a>
</div>
<hr class="hr" />
<div class="text-secondary">
    当前版本：2.0.2
    <a href="https://apps.microsoft.com/detail/9NR9KR5N3BX2?hl=zh-cn&gl=CN" class="text-sm-center link-primary">Windows>></a>
</div>